@import "mobilenav.scss";
@import "desktopnav.scss";

header {
  display: grid;
  grid-template-columns: 3fr 1fr;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
  }

  .logo a {
    position: relative;
    z-index: 5;
    display: flex;
    align-items: center;
    margin-bottom: 32px;

    img {
      max-width: 40px;
    }

    h1 {
      text-transform: uppercase;
      margin-left: 8px;
      font-size: 24px;
      color: $green;
    }
  }

  p {
    grid-column: 1/3;
    max-width: 60%;
    line-height: 150%;
    margin-bottom: 12px;

    &:last-of-type {
      color: $green;
    }
  }
}
