main {
  section form {
    margin-top: 12px;

    label {
      font-weight: 500;
      font-family: "Roboto Condensed", sans-serif;
      display: block;
      margin: 10px 0;
    }

    input,
    textarea {
      margin-bottom: 25px;
      border-radius: 5px;
      width: 80%;
      max-width: 295px;
      font-size: 14px;
      padding-left: 15px;
      @media screen and (min-width: 768px) {
        width: 100%;
        max-width: 95%;
      }
    }
    input {
      line-height: 40px;
    }
    textarea {
      height: 200px;
      padding-top: 15px;
    }

    input[type="submit"] {
      display: block;
      background: $green;
      border-radius: 10px;
      border: none;
      font-weight: bold;
      line-height: 40px;
      font-family: "Roboto Condensed", sans-serif;
      text-transform: uppercase;
      font-weight: 500;
      font-size: 16px;
      max-width: 312px;
      padding: 0;
      @media screen and (min-width: 768px) {
        max-width: 406.5px;
      }

      &:hover {
        background-color: darken($green, 10%);
      }
    }
  }
}
